<div class="ourtext">
<h1 id="analysis">Analysis</h1>

<p>Now you know everything about our idea and how we created the networks of Fans and Haters. Let's look at how we analysed them.
The main idea behind the analysis of Book Network is finding communities of books. We want to find out what groups of books people read and try to answer - why? At first we expected people tend to stick to couple of genres when they like, so the communities would be prevalently genre based. But as we progressed with our analysis, we found out it is not exactly true - the tastes in literature are much more varied. But before we delve into what we've found out, let's look at how we did it.</p>

<h2 id="findingcommunities">Finding communities</h2>

<p>At first we had to identify communities within our networks. We used the Louvain Community detection algorithm for that. 
This algorithm optimizes modudularity, which is a measure of density of connections within community compared to connections to other communities. The optimization is performed in two steps. Firstly, the method looks for "small" communities by optimizing modularity locally. Second, it aggregates nodes belonging to the same community and builds a new network whose nodes are the communities. This is repeated until maximum modularity is achieved. On the downside, it is harder to detect small communities within large network, because they are often merged together into a bigger community. It might explain why the book communites often contain groups of books on several topics. </p>

 <div id="inlineImages">
  <figure><img style="display: inline; margin: 0 5px; width: 40%;" src="img/Communities_fans.png" alt="" /><figcaption>Fans Communities</figcaption></figure>
  <figure><img style="display: inline; margin: 0 5px; width: 40%;" src="img/communities_haters.png" alt="" /><figcaption>Haters Communities</figcaption></figure>
 </div>
 
<p>Resulting communities often contain more than 100 books. In the further analysis we've used top 50 most connected books within each community, to get more easily interpretable results. These books were read by most of the users, therefore we believe this sample is good representation of the community.</p>

<div class="inlineImages ">  
<table class="table table-bordered table-hover table-condensed inlineTables">
<thead><tr><th title="Field #1">Fan Community</th>
<th title="Field #2">Number of Books</th>
</tr></thead>
<tbody><tr>
<td>#0</td>
<td align="right"> 391</td>
</tr>
<tr>
<td>#1</td>
<td align="right"> 158</td>
</tr>
<tr>
<td>#2</td>
<td align="right"> 322</td>
</tr>
<tr>
<td>#3</td>
<td align="right"> 433</td>
</tr>
<tr>
<td>#4</td>
<td align="right"> 249</td>
</tr>
<tr>
<td>#5</td>
<td align="right"> 347</td>
</tr>
<tr>
<td>#6</td>
<td align="right"> 158</td>
</tr>
<tr>
<td>#7</td>
<td align="right"> 198</td>
</tr>
<tr>
<td>#8</td>
<td align="right"> 606</td>
</tr>
<tr>
<td>#9</td>
<td align="right"> 60</td>
</tr>
<tr>
<td>#10</td>
<td align="right"> 48</td>
</tr>
<tr>
<td>#11</td>
<td align="right"> 25</td>
</tr>
</tbody></table>
   
   
<table class="table table-bordered table-hover table-condensed inlineTables">
<thead><tr><th title="Field #1">Haters Community</th>
<th title="Field #2">Number of Books</th>
</tr></thead>
<tbody><tr>
<td>#0</td>
<td align="right"> 101</td>
</tr>
<tr>
<td>#1</td>
<td align="right"> 190</td>
</tr>
<tr>
<td>#2</td>
<td align="right"> 201</td>
</tr>
<tr>
<td>#3</td>
<td align="right"> 314</td>
</tr>
<tr>
<td>#4</td>
<td align="right"> 182</td>
</tr>
<tr>
<td>#5</td>
<td align="right"> 120</td>
</tr>
<tr>
<td>#6</td>
<td align="right"> 127</td>
</tr>
<tr>
<td>#7</td>
<td align="right"> 44</td>
</tr>
<tr>
<td>#8</td>
<td align="right"> 184</td>
</tr>
<tr>
<td>#9</td>
<td align="right"> 46</td>
</tr>
<tr>
<td>#10</td>
<td align="right"> 153</td>
</tr>
<tr>
<td>#11</td>
<td align="right"> 271</td>
</tr>
<tr>
<td>#12</td>
<td align="right"> 35</td>
</tr>
<tr>
<td>#13</td>
<td align="right"> 67</td>
</tr>
<tr>
<td>#14</td>
<td align="right"> 13</td>
</tr>
<tr>
<td>#15</td>
<td align="right"> 62</td>
</tr>
<tr>
<td>#16</td>
<td align="right"> 27</td>
</tr>
</tbody></table>
   
</div>

<h2 id="tags">Tags</h2>

<h3 id="whatarethesebooks"><em>"What are these books?"</em></h3>

<p>To find out what kinds of books are within each community we looked into tags. These are created by the users, when they categorise the books in their GoodReads library. We took 5 most frequent tags for each book. However we've excluded several popular tags, which don't tell us much about the content of the book, rather how does the user got the book: #audiobook #library #owned-books
Then we pooled together the top 5 tags of the most connected books in the community and displayed the most frequent ones in word clouds.
</p>

<div id="inlineImages">
<figure>
<img style="display: inline; margin: 0 5px;" title="Fans_Tags_3" src="img/tags3.png" alt="" />
   <figcaption>Fans Community 3</figcaption>
</figure>
<figure>
<img style="display: inline; margin: 0 5px;" title="Haters_Tags_0" src="img/tagsH0.png" alt="" />
    <figcaption>Haters Community 0</figcaption>
</figure>
</div>
<br />
<h2 id="reviews">Reviews</h2>

<h3 id="whatdopeoplelikeaboutthesebooks"><em>"What do people like about these books?"</em></h3>

<p>We also wanted to find another aspect what ties the communities together - how people feel about the books in the community. In case of Fan Network what are the things that people liked about the books. And as for Haters, what they disliked. 
We tried to answer that using sentiment analysis of book reviews. We took reviews of the top 50 most connected books. But we've found out there is quite a lot of them written in different languages. So we've decided to consider only reviews in English, we used a neat library for detecting languages <em>langdetect</em> to do that. Why? Simply because we want to understand our word clouds, since we are all about ~~aeromancy~~ cloud interpretation. However we've got some nice stats about the language distributions within communities.
We proceeded to calculate mean sentiment and standart deviation to choose only the most positive and most negative reviews for the community. Then we compute TF-IDF for these reviews to find the most important words. The algorithm allows us to find frequent words, which are also uniqe for each community. And finally we make our favorite word clouds.</p>

 <div id="inlineImages">
<figure><img style="display: inline; margin: 0 5px;" title="Fans_rev_9" src="img/reviewsF9.png" alt="" /><figcaption>Fans Community 9</figcaption></figure>
<figure><img style="display: inline; margin: 0 5px;" title="Haters_rev_4" src="img/reviewsH4.png" alt="" /><figcaption>Haters Community 4</figcaption></figure>
</div>
<br />
<h2 id="description">Description</h2>

<h3 id="whattheyhaveincommon?"><em>"What they have in common?"</em></h3>

<p>To gain a better insight into communities and see what they have in common, We took 50 most weighted books in each community, then we used langdetect library to find only English descriptions (for the same reason in reviews) and calculated TF_IDF in order to find the most important words within each community.</p>

 <div id="inlineImages">
<figure><img style="display: inline; margin: 0 5px;" title="Fans_des_0" src="img/Descrtiption_Fans_0.png" alt="" /><figcaption>Fans Community 0</figcaption></figure>
<figure><img style="display: inline; margin: 0 5px;" title="Haters_des_3" src="img/Description_Haters_3.png" alt="" /><figcaption>Haters Community 3</figcaption></figure>
</div>
<br />
<h2 id="fanssnetwork">Fans Network</h2>
<figure><img style="width:60%;"  src="img/projected_fans.png" alt="" /><figcaption>Projection Of Bipartite Fans graph on books</figcaption><figcaption>Number Of Edges: 955177</figcaption><figcaption>Number Of Nodes: 3000</figcaption></figure>
   <h3>Network Statistics</h3>
 
 <p>
Degree Distributions shows how many books are connected to each book, While weight distributions show the sum of the weights of edges which are connected to the nodes. In other words, weight distribution indicates the number of people who had rated the books. Degree distribution and weight distribution for both fans and haters are shown below.
</p>

 
 <div id="inlineImages">
<figure><img style="display: inline; margin: 0 5px;" title="Fans_degree" src="img/degree_fans.png" alt="" /><figcaption>Degree Distribution</figcaption></figure>
<figure><img style="display: inline; margin: 0 5px;" title="Fans_weight" src="img/weight_fans.png" alt="" /><figcaption>Weight Distribution</figcaption></figure>
</div>
 
  <table style="width:100%">
  <tr>
    <td>Max degree in the network</td>
    <td>1283</td>
  </tr>
  <tr>
    <td>Min degree in the network</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Mean degree in  the network</td>
    <td>636.7846666666667</td>
  </tr>
</table>
 
 
 <table style="width:100%">
  <tr>
    <td>Max weight in the network</td>
    <td>4409</td>
  </tr>
  <tr>
    <td>Min weight in the network</td>
    <td>18</td>
  </tr>
  <tr>
    <td>Mean weight in  the network</td>
    <td>1435.7933333333333</td>
  </tr>
</table>

   <h3>Selected Communities</h3> 
   <h4>Community 1</h4>

   <div id="inlineImages">
    <figure><img style="display: inline; margin: 0 5px;"  src="img/F_COM_1_DESC.png" alt="" /><figcaption>Descriptions</figcaption></figure>
   	<figure><img style="display: inline; margin: 0 5px;"  src="img/F_COM_1_TAG.png" alt="" /><figcaption>Tags</figcaption></figure>
   	<figure><img style="display: inline; margin: 0 5px;"  src="img/F_COM_1_REV.png" alt="" /><figcaption>Reviews</figcaption></figure>
    <figure><img style="display: inline; margin: 0 5px;"  src="img/F_COM_1_PIE.png" alt="" /><figcaption>Non-english Languages</figcaption></figure>
   </div>

   <p>We've selected one of haters communities for demonstration. As you can see from wordclouds, there are much more different topics coming up, compared to Fan network.  
   The Hater network is more sparse, and edges have lower weight. Together with results of text analysis we can assume that disliking books is more random, than having a preference for the books.</p>
   <h4>Community 11</h4>
  <p>Within community 11, there are many different genres of books. There are lot of non-ficiton books, especially self help books, several poetry and fantasy books. Both descriptions and reviews point out to individual books, it is hard to find an overlaying theme.</p>
  <p>In conclusion, the communities in Hater network are quite varied in genre and it is difficult to describe them sipmply.</p>
    <div id="inlineImages">
    <figure><img style="display: inline; margin: 0 5px;"  src="img/H_COM_11_DESC.png" alt="" /><figcaption>Descriptions</figcaption></figure>
    <figure><img style="display: inline; margin: 0 5px;"  src="img/H_COM_11_TAG.png" alt="" /><figcaption>Tags</figcaption></figure>
    <figure><img style="display: inline; margin: 0 5px;"  src="img/H_COM_11_REV.png" alt="" /><figcaption>Reviews</figcaption></figure>
    <figure><img style="display: inline; margin: 0 5px;"  src="img/H_COM_11_PIE.png" alt="" /><figcaption>Non-english Languages</figcaption></figure>
   </div>
 
 <h4>Community 3</h4>
 <p>In community 3 from fans graph, we can see a lot of fiction books like Harry Potter, the Lord of the Rings, The Hitchhiker's Guide to the Galaxy and also novels and stories. The thing that is common between these books is that they are for teenagers and young adults, this fact can be seen from the tags. Hence, we can say that some communities are based on the age of the readers.</p>
    <div id="inlineImages">
    <figure><img style="display: inline; margin: 0 5px;"  src="img/Descrtiption_Fans_3.png" alt="" /><figcaption>Descriptions</figcaption></figure>
   	<figure><img style="display: inline; margin: 0 5px;"  src="img/Tags_fans3.png" alt="" /><figcaption>Tags</figcaption></figure>
   	<figure><img style="display: inline; margin: 0 5px;"  src="img/Review_fans3.png" alt="" /><figcaption>Reviews</figcaption></figure>
    <figure><img style="display: inline; margin: 0 5px;"  src="img/F_COM_1_PIE.png" alt="" /><figcaption>Non-english Languages</figcaption></figure>
   </div>
 
<h2 id="hatersnetwork">Haters Network</h2>
   <figure><img style="width:60%;"  src="img/projected_haters.png" alt="" /><figcaption>Projection Of Bipartite Haters graph on books</figcaption><figcaption>Number Of Edges: 19901</figcaption><figcaption>Number Of Nodes: 2137</figcaption></figure>
   <h3>Network Statistics</h3>
 <div id="inlineImages">
<figure><img style="display: inline; margin: 0 5px;" title="Haters_degree" src="img/degree_haters.png" alt="" /><figcaption>Degree Distribution</figcaption></figure>
<figure><img style="display: inline; margin: 0 5px;" title="Haters_weight" src="img/Weight_haters.png" alt="" /><figcaption>Weight Distribution</figcaption></figure>
</div>
  <table style="width:100%">
  <tr>
    <td>Max degree in the network</td>
    <td>99</td>
  </tr>
  <tr>
    <td>Min degree in the network</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Mean degree in  the network</td>
    <td>18.6544772620722</td>
  </tr>
</table>
 
 
 <table style="width:100%">
  <tr>
    <td>Max weight in the network</td>
    <td>142</td>
  </tr>
  <tr>
    <td>Min weight in the network</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Mean weight in  the network</td>
    <td>20.129395218002813</td>
  </tr>
</table>

   <h3>Selected Communities</h3>

<h5>Books</h5>
<ul>
<li>The Silmarillion by J.R.R. Tolkien</li>
<li>Thomas Cole's Poetry: The Collected Poems of America's Foremost Painter of the Hudson River School by Thomas Cole</li>
<li>Sailing Smart: Winning Techniques, Tactics, And Strategies by Buddy Melges</li>
<li>Men Are from Mars, Women Are from Venus by John Gray</li>
<li>Date or Soul Mate?: How to Know if Someone is Worth Pursuing in Two Dates or Less by Neil Clark Warren</li>
<li>Fats That Heal, Fats That Kill by Udo Erasmus</li>
<li>Wisdom of the Peaceful Warrior: A Companion to the Book That Changes Lives by Dan Millman</li>
</ul>   
<br> 

<h2 id="fansvshaterscomparison">Fans vs Haters Comparison</h2>

<p>The confusion matrix is created -with haters communities on x-axis and fans communities on the y-axis -  to see which communities correspond to each other.  As it is shown in the confusion matrix, community tuples (3,3) and (2,11) have a lot of books in common. </p>
<figure><img style="display: inline; margin: 0 5px;" src="img/con_matrix.png" alt="" /><figcaption>Confusion Matrix</figcaption></figure>

<p>To find out why people liked and disliked this books, we find the mutual books for these two tuples of communities, then we find the reviews with positive sentiment and negative sentiment, then we make word could using TF_IDF for only English reviews.</p>
<div id="inlineImages">
<figure>
<img style="display: inline; margin: 0 5px;"  title="Negative reviews(2,11)" src="img/compare_neg_2_11.png" alt="" />
   <figcaption>Negative Reviews(2,11)</figcaption>
</figure>
<figure>
<img style="display: inline; margin: 0 5px;"  title="Positive reviews(2,11)" src="img/compare_com_2_11.png" alt="" />
    <figcaption>"Positive reviews(2,11)"</figcaption>
</figure>
</div>
   
   
   
   
<div id="inlineImages">
<figure>
<img style="display: inline; margin: 0 5px;"  title="Negative reviews(3,3)" src="img/compare_neg_3_3.png" alt="" />
   <figcaption>Negative Reviews(3,3)</figcaption>
</figure>
<figure>
<img style="display: inline; margin: 0 5px;"  title="Positive reviews(3,3)" src="img/compare_com_3_3.png" alt="" />
    <figcaption>"Positive reviews(3,3)"</figcaption>
</figure>
</div>
   
   
<h2 id="recommendations-1">Recommendations</h2>
<p>In the end, we can tell you what books to read and what to avoid! By finding the name of your favourite book in our fans graph, we can find the 5 most weighted neighbours and recommend them to you, simply because these books are rated high with people who also liked your favourite book. by doing the same procedure for haters graph we can tell you to what books to avoid as well. Here are some examples:</p>

<h5>Bullshit Artist: The 9/11 Leadership Myth by Ron Schalow</h5>
<table style="width:100%">
  <tr>
    <th>Books Names</th>
    <th>Weights</th> 
  </tr>
  <tr>
    <td>Sex, Drugs, Gambling, and Chocolate: A Workbook for Overcoming Addictions by A. Thomas Horvath</td>
    <td>52</td>
  </tr>
  <tr>
    <td>The Zen of CSS Design: Visual Enlightenment for the Web by Dave Shea</td>
    <td>51</td>
  </tr>
  <tr>
    <td>The Colored Gentleman, a Product of Modern Civilization by Dennis Imbert</td>
    <td>46</td>
  </tr>
   <tr>
    <td>I Slagbjörnens Spår Berättelser Från Norrlandska Vildmarker Och Småländska Storskogar by Stig Cederholm</td>
    <td>35</td>
  </tr>
   <tr>
    <td>Daniel Deronda: A Conversation by Henry James</td>
    <td>32</td>
  </tr>
</table>
<br>

<h5>The Lord of the Rings: Weapons and Warfare by Chris   Smith</h5>
<table style="width:100%">
  <tr>
    <th>Books Names</th>
    <th>Weights</th> 
  </tr>
  <tr>
    <td>The Hitchhiker's Guide to the Galaxy by Douglas Adams</td>
    <td>36</td>
  </tr>
  <tr>
    <td>Hatchet by Gary Paulsen</td>
    <td>36</td>
  </tr>
  <tr>
    <td>Harry Potter and the Half-Blood Prince by J.K. Rowling</td>
    <td>36</td>
  </tr>
   <tr>
    <td>Harry Potter Collection (Harry Potter, #1-6) by J.K. Rowling</td>
    <td>31</td>
  </tr>
   <tr>
    <td>The Hitchhiker's Guide to the Galaxy: Quintessential Phase by Douglas Adams</td>
    <td>31</td>
  </tr>
</table>
<br>

<h5>The Human Rights Committee and the Right of Individual Communication: Law and Practice by P.R. Ghandi</h5>
<table style="width:100%">
  <tr>
    <th>Books Names</th>
    <th>Weights</th> 
  </tr>
  <tr>
    <td>55,000 + Baby Names by Bruce Lansky</td>
    <td>42</td>
  </tr>
  <tr>
    <td>Wild Life Conservation in Theory and Practice: Lectures Delivered Before the Forest School of Yale University, 1914 by William Temple Hornaday</td>
    <td>39</td>
  </tr>
  <tr>
    <td>Night (The Night Trilogy, #1) by Elie Wiesel</td>
    <td>36</td>
  </tr>
   <tr>
    <td>The Life and Works of Thomas Cole by Louis Legrand Noble</td>
    <td>35</td>
  </tr>
   <tr>
    <td>The History of Sexuality, Volume 3: The Care of the Self by Michel Foucault</td>
    <td>33</td>
  </tr>
</table>
<br>
 
<h3>Which books to avoid, if you disliked these</h3>
<h5>Gentlemans Guide to Toasting by Dave Fulmer</h5>
<table style="width:100%">
<tr><td>Kindred Spirit: A Biography of L. M. Montgomery, Creator of Anne of Green Gables by Catherine M. Andronik</td></tr>
 <tr><td>Date or Soul Mate?: How to Know if Someone is Worth Pursuing in Two Dates or Less by Neil Clark Warren</td></tr>
 <tr><td>The Lord of the Rings by J.R.R. Tolkien</td></tr>
 <tr><td>The Silmarillion by J.R.R. Tolkien</td></tr>
 <tr><td>La caverna by José Saramago</td></tr>
</table>
<br>
<h5>Bullshit Artist: The 9/11 Leadership Myth by Ron Schalow</h5>
<table style="width:100%">
 <tr><td>Sexus (The Rosy Crucifixion, #1) by Henry Miller</td></tr>
 <tr><td>The Zen of CSS Design: Visual Enlightenment for the Web by Dave Shea</td></tr>
 <tr><td>A Killing Rain (Louis Kincaid, #6) by P.J. Parrish</td></tr>
 <tr><td>The Untouchable by John Banville</td></tr>
 <tr><td>Escape from Pompeii by Christina Balit</td></tr>
</table>

<br>

<h3>References</h3>
<ul>
<li>https://neo4j.com/docs/graph-algorithms/current/algorithms/louvain/</li>
<li>https://en.wikipedia.org/wiki/Louvain_Modularity</li>
<li>https://perso.uclouvain.be/vincent.blondel/research/louvain.html</li>
<li>https://pypi.org/project/langdetect/</li>
<li>https://github.com/zygmuntz/goodbooks-10k</li>
</ul>
</div>
<hr>
