<div class="ourtext">
<h1 id="conclusion">The Network</h1>

     <h2>Discussion of results</h2>

     <h3 id="whatwentwell">What went well</h3>

<p>Building <strong>Fan network</strong> and subsequent analysis. We we able to find <strong>well defined communities</strong>. By using TF-IDF on book descriptions and finding most frequent tags, we were able to interpret what kind of books are in the communities. The word clouds for tags describe genres within communities quite well. We can see that communities contain combinations several different topics which are often related. As for descriptions TF-IDF proved to be useful. Finding frequent words unique for the communities helped us with the interpretation.</p>

<p>While analyzing reviews, we realized that lot of them are written in other languages than English. We excluded those reviews from word clouds, because it is hard for us to interpret words in unknown languages. But we counted what languages are popular and found out that many of the communities are very <strong>language-specific</strong>.</p>

<h3 id="whatdidntgosowell">What didn't go so well</h3>

<p>By analyzing reviews, we wanted to find out why people like/dislike book in the communities. Howewer using TF-IDF didn't prove as useful for answering this question. The words mostly reflect the content of the books, which is often mentioned in the reviews. It can be difficult to interpret why people liked these books. 
However the results can be used to further explain what topic are relevant in the community together with descriptions and tags. </p>

<p>The hater network is sparser compared to fan network, and the communities are not so well defined compared to fan network. Generally each community contains many different genres and topic which makes it difficult to find an overlaying theme.
It makes sense since disliking a book is probably more random occurrence than liking one. When we like a book, we try to find other books that are similar and we will probably like them as well. However reading a book you don't like is more of a bad luck, since it probably seemed to be interesting at first glance.</p>

<p>Because of that, it is also more difficult to make negative recommendations - which books to avoid.</p>

<h3 id="whatcouldbeimproved">What could be improved</h3>

<ul>
<li><p>Dynamic recommendations: Currently we created our recommendations manually - by choosing the most connected books and finding their neighbors within their communities. However we initially wanted to create dynamic recommendations where user can select their favorite book from the list and get recommendations for other books to read based on the communities. However we did not have enough time to implement a dynamic website.</p></li>

<li><p>Average sentiment per community: The better usage of sentiment analysis would be to compare how the average review sentiment for each community differs from the average sentiment of all reviews - this way we could see which communities are regarded more positively than the others. However because of lack of time we did not get to do it.</p></li>
</ul>
</div>